.scroll-wrapper{
    width: 86%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
}
.zxc{
    display: flex;
    flex-wrap: wrap;
    height: 70%;
}

#asd::-webkit-scrollbar {
    width: 7px;
    background-color: black;
    padding-bottom: 4%;
}
#asd::-webkit-scrollbar-thumb {
    background-color: silver;
}
