.external-con{
    display: flex;
    width: 250px;
    justify-content: space-between;
  

}
.facts-title{
    margin-top: 6%;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}
.facts-title2{
    width: 100px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 auto;
}
.keywords{
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #d7d7d7;
    color: white;
    width: 120px;
    text-align: center;
}
.key-con{
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    justify-content: center;
}
