.info-container2{
    width: 100%;
    padding-bottom: 60px;
}
.main-con{
    background-color: black;
}

.info-back{
    position: relative;
    width: 80%;
    height: 600px;
    white-space: pre-line;
    z-index: 1;
    margin: 0 auto;
    background-size: cover;
    background: center;
}
.shadow{
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-end;
width: 40%;
height: 100%;
color: white;
background: linear-gradient(90deg, rgba(3,3,3,1) 75%, rgba(255,255,255,0) 100%);
transition: .3s;
}
.movie_title{
    margin-right: 20%;
    text-size-adjust: 100%;
    white-space: pre-line;
    font: 600 3.125em / 60px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
}
.block-info{
    width: 100%;
    margin-bottom: 2%;
}
.movie-text{
    margin-top: 2%;
}
.list-con{
    margin-top: 4%;
}