.tv-main{
    background-color: black;
}
.actors{
    background-color: black;
    width: 72%;
}
.actors-title{
    width: 400px;
    margin-top: 6%;
    color: orange;
    margin: 0 auto;
    margin-bottom: 2%;
}
.tvInfo-con{
    display: flex;
    width: 80%;
    margin: 0 auto;
    
}
.reviws-title{
    width: 150px;
    margin: 0 auto;
    color:  orange;
    margin-bottom: 5%;
    margin-top: 4%;
}
