.main-video{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
.oth,.overview-title,.production-title,.rec-title{
    color: orange;
    width: 400px;
    margin: 0 auto;
    text-transform: uppercase;
}

.trailer_titile{
    color: white;
    margin-left: 25%;
    font-size: 15px;
}
.player{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 45%;
    top: 30%;
}
