label {
    font-size: .7rem;
  }
  
  input.form-control, input.form-control:focus {
    background: #F0F0FF;
  }
  
  .error {
    position: absolute;
    color: red;
    font-size: .6rem;
  }
 .container{
     width: 700px;
     margin-left: 250px;
 }