
label {
    font-size: .7rem;
  }
  
  input.form-control, input.form-control:focus {
    background: #F0F0FF;
  }
  
  .error {
    position: absolute;
    color: red;
    font-size: .6rem;
  }
 
 .sign{
   margin-left: 150px;
 }
.req_input{
  display: none;
}
.container-sigIn{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
   
}
.boutton-con{
  display: flex;
  align-items: center;
}
.sign-link{
  margin-top: 5%;
  margin-left: 2%;
}
