.asd{
    height: 500px;
    margin-left: 25%;
    background-size: cover;
}
.cor-text{
    margin-left: 80%;
    margin-bottom: 10%;
}

.cor-title{
    color: gold;
    margin-bottom: 40%;
}
.cor-title2{
    text-size-adjust: 100%;
    white-space: pre-line;
    font: 700 3.125em / 60px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
}
.ttttt{
    background-size: cover;
}