.header{
    background-image: url(../../img/Poster.png);
    position: relative;
}
.Home{
    background-color: black;
}
:focus::-webkit-input-placeholder {
    color: transparent
  }
::-webkit-input-placeholder { 
    color:white;
 }
 .header__nav,.register-link{
     display: flex;
     
 }
 .header__content{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

     
 .loggedin{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 55px;
    text-decoration: none;
    margin-right: 35px;
 }

 .photo{
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }
 .bootstrapCarousel{
     margin-top: 20px;
 }
.navbar-brand{
    text-decoration: none;
}
.trend-title{
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    width: 32rem;
    margin-top: 3%;
    margin-bottom: 2%;
}
hr{
    border: 1px solid silver;
}
.qqqq{
    border: none;
    background-color: none;
}
.hr-home{
    color: red;
    width: 80%;
    margin: 0 auto;
    height: 5px;
}