.qwe{
    background-color: black;
}
.info-container2{
    width: 100%;
    padding-bottom: 60px;
}

.info-back{
    position: relative;
    width: 80%;
    height: 600px;
    white-space: pre-line;
    z-index: 1;
    margin: 0 auto;
}
.shadow{
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-end;
width: 40%;
height: 100%;
color: white;
background: linear-gradient(90deg, rgba(3,3,3,1) 75%, rgba(255,255,255,0) 100%);
transition: .3s;
}
.movie_title{
    margin-right: 50%;
    /* padding-bottom: 70%; */
    text-size-adjust: 100%;
    white-space: pre-line;
    font: 600 3.125em / 60px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
}
.movie-time{
    margin-bottom: 70%;
    font-size: 25px;
    color: blue;
}
.movie-budget{
    display: block;
    font-size: 25px;
    color: gold;
}
.main-video{
    width: 80%;
    margin: 0 auto;
}
.oth,.overview-title,.rec-title,.production-title{
    color: orange;
    width: 500px;
    margin: 0 auto;
    text-transform: uppercase;
}
.trailer_titile{
    color: white;
    margin-left: 25%;
    font-size: 15px;
}
.player{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 45%;
    top: 30%;
}
.movie-text{
    color: white;
    font-size: 25px;
}
.movie-overview{
    margin-top: 20px;
    width: 20%;
    text-align: center;
    margin-right: 15%;
    margin-left: 20%;
}
.overview-text{
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
}
.prod-info{
   margin-top: 1.5%;
}
.prod__img{
    background-color: yellow;
    margin-top: 3%;
    margin: 0 auto;
    
}
.imgg{
    width: 300px;
    margin-bottom: 20px;
}
.movie__par{
    display: flex;
  
}
/* .production-title{
    width: 600px;
    margin-top: 6%;
    color: orange;
} */
.gen-title{
    color: orange;
    margin-right: 15%;
    margin: 0 auto;
    margin-bottom: 3%;
}
.gen__con{
    display: flex;
   
}
.dfdfd{
    margin-top: 5%;
    margin-left: 5%;
}
.rec-title{
    width: 40rem;
    padding-bottom: 2%;
}
.prod-text{
    color: white;
    list-style-type:circle;
    font-size: 18px;
}
.review__container{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
.rev-title{
    width: 30rem;
    color: orange;
    text-transform: uppercase;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.cast__container{
    display: flex;
    flex-wrap: wrap;
    margin-left:6%;
}
.movie__rate,.movie__rate-item{
    color: #333;
    background: #f2f2f2;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    border-radius: 52px;
    text-transform: uppercase;
}
.hide{
    display: none;
    border: none;
}
.ghjg{
    display: flex;
    align-items: center;
}
.rate-value{
    
}
.movie__rate-item{
    border: none;
    margin-right: 2%;
    font-size: 16px;
}
.movie__rate-item:hover{
    background-color: green;
}
.rate-container{
    border-radius: 52px;
    width: 270px;
    margin-top: 3%;
}

.hov:hover{
    fill: red;
}
.no-hov:hover{
    fill: none;
}
.svg-con{
   display: flex;
   align-items: center;
   border: 3px solid silver;
   width: 45%;
   justify-content: center;
   margin-top: 6%;
   margin-bottom: 6%;
}
.icon-name{
    margin-left:10px
}

.hovWatch2{
    fill: yellow;
}