.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-container{
    display: flex;
    flex-wrap: wrap;
    margin-left:6%;
}
.movie-info h3 {
    margin: 0;
}
.movie-over{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    color: #22254b;
    padding: 1rem;
    overflow:  auto;
    max-height: 70%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview h3 {
    margin-top: 0;
}
.btn__watchlist{
    font-size: 15px;
    background-color: red;
    color: white;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}
.add{
    height: 300px;
    padding: 10px;
   position: relative;
}
.player-iframe{
    width: 840px;
    height: 552px;
}
.play-con{
    width: 60%;
    margin: 0 auto;
}
