.people__container{
    background-color: #100e19;
    
}
.peple-body{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    background-color: #f2f3f4;
}
.people-img{
    margin-top: 5%;
    border-radius: 3px;
    -o-object-fit: cover;
    object-fit: cover;
    border-right: 1px solid silver;
    width: 300px;
    margin-right: 10%;
    margin-left: 5%;
}
/* .people__container{
    display: block;
    background-color: #140e2f;
    height: 100%;
} */
.people__info{
    margin-top: 5%;
}
.people-name{
    font-size: 40px;
    line-height: normal;
    font-weight: 700;
    margin: 0 auto;
    width:25rem ;
    margin-top: 10%;
}
.top-movies{
    font-size: 30px;
    line-height: normal;
    font-weight: 700;
    margin: 0 auto;
    width:12rem;
    margin-top:2%;
    color: white;
}
.info-container{
    display: flex;
    margin-top: 10%;
    
}
li{
    list-style-type: none;
    line-height: 50px;
}
.default-info{
    color: rgba(0,0,0,.4);
    font-size: 25px;
    width: 160px;
}
.default-info2{
    font-size: 25px;
    width: 25rem;
    font-weight: 500
}
.info-biography{
    color: rgba(0,0,0,.4);
    font-size: 18px;
    width: 600px;
}
.external-container{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}
.people__movie{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    margin-left:6%;
}
.qaz{
    display: none;
}
.movieButton{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 2%;
}