.review-author{
    color: orange;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.review-text{
    color: white;
    width: 80%;
}
.review-content{
    display: flex;
    justify-content: space-between;
   
}
.review-img{
    width: 140px;
    margin-top: 15%;
}
.review-person{
    
}
.rate{
    color: white;
    margin: 0 auto;
    width: 150px;
}
.rev-container{
    width: 80%;
    margin: 0 auto;
}