.seasonCast-con{
    width: 88%;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
}
.seasonsInfo-con{
    background-color: black;
}
.episod-con{
    display: flex;
    flex-wrap: wrap;
    width: 88%;
    margin:  0 auto;
    justify-content: center;
}
.cast-title,.episode-title{
    color: orange;
    width: 100px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 2%;
}