.profile__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}
.profile__info{
    display: flex;
    align-items: center;
    height: 250px;
    width: 80%;
    margin:  0 auto;
    border-bottom: 2px solid silver;
    
}
.profile-name{
    color: white;
    margin-left: 5%;
}
.main__info{
    width: 80%;
    margin: 0 auto;
    margin-top: 1%; 
} 
.profileMovieContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left:6%;
}
.tab-items{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
.prof-container{
    background-color: rgb(3,37,65);
}
.close{
    display: none;
}
.mark-info{
    color: white;
    margin-left: 5%;
}
.nav-use:active{
    background-color: white;
}
.text{
    color: white;
}
.asd2{
    margin-left: 210px;
    height: 50px;
}