.people-con{
    max-width: 88%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.search-con{
    background-color: black;
}
.people-title{
    color: white;
    width: 250px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}