.tab{
    margin-top: 1%;
    margin-left:1%;
}
.genres-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}
.movieSearch-container{
   background-color: black;
}
.search-movie__input{
    width: 40%;
    margin: 0 auto;
    padding-top: 3%;
}
.search-title{
    color: white;
    width: 5rem;
    margin: 0 auto;
    margin-bottom: 5%;
    
}
.parent {
    width: 70%;
    height:80px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
    margin: 0 auto;
    margin-top: 2%;
}

.child {
    display: inline-block;
    vertical-align: top;
    height:60px;
    margin-right: 1%;
}
#parent::-webkit-scrollbar {
    
    background-color: black;
}
#parent::-webkit-scrollbar-thumb {
    background-color: orangered;
}
.year__con{
    width: 15%;
}
.select-con{
    max-height: 100px;
    overflow-y: auto;
     overflow-x: hidden;
     width: 15%;
}
.select-con2{
    width: 8%;
    
}
.filter-con{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.multiRange{
    display:  flex;
    align-items: center;
}
.input-label{
    color: white;
    font-size: 20px;
    margin-right: 2%;
    margin-left: 7%;
}
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
  }
  
  input[type="date"]::-webkit-datetime-edit-year-field{
    position: absolute !important;
    border-left:1px solid #8c8c8c;
    padding: 2px;
    color:#000;
    left: 56px;
  }
  
  input[type="date"]::-webkit-datetime-edit-month-field{
    position: absolute !important;
    border-left:1px solid #8c8c8c;
    padding: 2px;
    color:#000;
    left: 26px;
  }
  
  
  input[type="date"]::-webkit-datetime-edit-day-field{
    position: absolute !important;
    color:#000;
    padding: 2px;
    left: 4px;
    
  }
  .data-in{
      margin-right: 5%;
  }
#site-search{
    margin-bottom: 9%;
}