.tv {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.tv img {
    width: 100%;
}

.tv-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.tv-container{
    display: flex;
    flex-wrap: wrap;
    margin-left:6%;
}
.tv-info h3 {
    margin: 0;
}
.tv-over{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    color: #22254b;
    padding: 1rem;
    overflow:  auto;
    max-height: 70%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.tv-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.tv-info span.green {
    color: rgb(39, 189, 39);
}

.tv-info span.orange {
    color: orange;
}

.tv-info span.red {
    color: rgb(189, 42, 42);
}

.overview h3 {
    margin-top: 0;
}

.tv:hover .tv-over {
    transform: translateY(0%);
}

link {
    display: block;
    text-align: center;
    color: #777;
    text-decoration: none;
    padding: 10px;
}
.tv-container{
    display: flex;
    flex-wrap: wrap;
    margin-left:6%;
}
.tv_card {
    position: relative;
    display: block;
    width: 800px;
    height: 380px;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
}
.tv_card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}
.tv_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}
.tv_card .info_section .tv_header {
    position: relative;
    padding: 25px;
    height: 40%;
}
.tv_card .info_section .tv_header h1 {
    color: black;
    font-weight: 400;
}
.tv_card .info_section .tv_header h4 {
    color: #555;
    font-weight: 400;
}
.tv_card .info_section .tv_header .county {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.tv_card .info_section .tv_header .type {
    display: inline-block;
    color: #959595;
    margin-left: 10px;
}
.tv_card .info_section .tv_header .loc {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.tv_card .info_section .tv_desc {
    padding: 25px;
    height: 50%;
}
.tv_card .info_section .tv_desc .text {
    color: #545454;
}
.tv_card .info_section .tv_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}
.tv_card .info_section .tv_social ul {
    list-style: none;
    padding: 0;
}
.tv_card .info_section .tv_social ul li {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}
.tv_card .info_section .tv_social ul li:hover {
    transition: color 0.3s;
    color: rgba(0, 0, 0, 0.7);
}
.tv_card .info_section .tv_social ul li i {
    font-size: 19px;
    cursor: pointer;
}
.tv_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}
@media screen and (min-width: 768px) {
    .tv_header {
        width: 65%;
   }
    .tv_desc {
        width: 50%;
   }
    .info_section {
        background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
   }
    .blur_back {
        width: 60%;
        background-position: -100% 10% !important;
   }
}
@media screen and (max-width: 768px) {
    .tv_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
   }
    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
   }
    .tv_header {
        width: 100%;
        margin-top: 85px;
   }
    .tv_desc {
        width: 100%;
   }
    .info_section {
        background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
        display: inline-grid;
   }
}
